# Dependencies
node_modules/

# Builds
dist/
build/
coverage/

# Serverless
.serverless

# Env files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Logs
*.log

# OS / IDE
.DS_Store
.vscode/
.idea/
